@page
@model ClubBaistSystem.Pages.EditStandingTeeTimeRequest
@{
    ViewData["Title"] = "Edit Standing TeeTime Request";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <a asp-page="/SubmitStandingTeeTimeRequest" class="btn btn-info" role="button">View Standing TeeTime Requests</a>
    <br />
    <br />
    <p>Enter Shareholder Information: </p>

    <div class="form-group">
        <label asp-for="InputtedShareholder1"/>
        <input asp-for="InputtedShareholder1" />
        <span asp-validation-for="InputtedShareholder1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="InputtedShareholder2"/>
        <input asp-for="InputtedShareholder2" />
        <span asp-validation-for="InputtedShareholder2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="InputtedShareholder3"/>
        <input asp-for="InputtedShareholder3" />
        <span asp-validation-for="InputtedShareholder3" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="InputtedShareholder4"/>
        <input asp-for="InputtedShareholder4" />
        <span asp-validation-for="InputtedShareholder4" class="text-danger"></span>
    </div>

    <p>Start Date:</p>
    <div class="form-group">
        <label asp-for="InputtedStartDate"/>
        <input asp-for="InputtedStartDate" />
        <span asp-validation-for="InputtedStartDate" class="text-danger"></span>
    </div>

    <p>End Date:</p>
    <div class="form-group">
        <label asp-for="InputtedEndDate"/>
        <input asp-for="InputtedEndDate" />
        <span asp-validation-for="InputtedEndDate" class="text-danger"></span>
    </div>

    <button type="submit" name="Submit" value="submitStandingTeeTimeRequest" class="btn btn-success">Submit</button>
    <button type="submit" name="Submit" value="cancelStandingTeeTimeRequest" class="btn btn-danger">Cancel</button>
    
</form>

