@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
</div>
<form method="post">

@if (Model.Alert != null)
{
    <div class="alert alert-primary" role="alert">
        @Model.Alert
    </div>
}
</form>